<div class="modal fade" id="listed-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-tag"></i> Agregar a listado</h4>
            </div>
            <div class="modal-body">
                <div id="mensaje"></div>
                <p>Por favor, ingrese el nueva registro para agregar.</p>
                <form id="listed_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input class="form-control" id="id_name" name="name" maxlength="100" type="text" required="">
                        <span id="help-name" class="help-block"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Número de lista</label>
                                <input class="form-control" id="id_number" name="number" value="0" type="number" required="">
                                <span id="help-number" class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Tipo de producto</label>
                                <select class="form-control" id="id_type" name="type" required="">
                                    <option value="" selected="">---------</option>
                                    <option value="1">Monografía</option>
                                    <option value="2">Biografia</option>
                                    <option value="3">Mapa</option>
                                </select>
                                <span id="help-type" class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Número de referencia</label>
                                <input class="form-control" id="id_reference_number" name="reference_number" type="text" required="">
                                <span id="help-reference_number" class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Proveedor del producto</label>
                                <select class="form-control" id="id_provider" name="provider" required="">
                                    <option value="" selected="">---------</option>
                                    <option value="1">SUN RISE</option>
                                    <option value="2">RAF</option>
                                    <option value="3">BOB</option>
                                </select>
                                <span id="help-provider" class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="id_active" name="active" checked=""> Activar para listar
                        </label>
                        <span id="help-active" class="help-block"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="submit" class="btn btn-success" id="guardar">
                    <i class=" glyphicon glyphicon-floppy-saved"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>