<!-- Buttons -->
<a href="#" class="float-buttons" id="menu-share">
    <i class="fa fa-share my-float"></i>
</a>
<ul class="ul-float">
    <li>
        <a id="btnAddProduct" href="#" title="Agregar producto" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-barcode my-float"></i>
        </a>
    </li>
    <li>
        <a id="btnAddBrand" href="#" title="Agregar marca" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-tags my-float"></i>
        </a>
    </li>
</ul>
<!-- End buttons-->
