{% extends "base_v3.html" %}

{% block title %} Productos {% endblock %}

{% block encabezado %} Lista de productos {% endblock %}

{% block breadcrumb %}
    <li class="active"><i class="fa fa-barcode"></i> Productos</li>
{% endblock %}

{% block conte %}

<div class="box">
    <div class="box-body">
        <form action="{% url 'Producto:url_lista' 1 %}" method="get">
        <input id="buscar_prod" name="buscar_prod" type="text" class="form-control" placeholder="Buscar">
    </form>
    </div>
</div>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-barcode"></i>
            <strong class="hidden-xs">Productos Disponibles</strong>
            <span class="badge pull-rigth"> {{encontrado_productos}} / {{total_productos}}</span>
        </h3>
        <div class="box-tools" style="right: 40px;">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li>
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% else %}
                    <a href="#">Anterior</a>
                    {% endif %}
                </li>
                {% for page_number in paginator.page_range %}
                    {% if page_number == page_obj.number %}
                        <li>
                            <a href="#" class="bg-gray">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    {% else %}
                    <a href="#">Siguiente</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td><strong>Producto</strong></td>
                        <td class="hidden-xs"><strong>Marca</strong></td>
                        <td class="hidden-xs"><strong>Venta por unidad</strong></td>
                        <td class="hidden-xs"><strong>Precio unitario</strong></td>
                        <td class="hidden-xs"><strong>Precio a mayoreo</strong></td>
                    </tr>
                </thead>
                <tbody>
                {% if not object_list %}
                    <tr>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                    </tr>
                {% endif %}
                {% for prod in object_list %}
                    <tr>
                        <td><a href="{% url 'Producto:url_consultar' prod.id %}" title="Ver detalles del producto."
                                                class="btn btn-default btn-sm btn-block">{{prod.descripcion}}</a>
                        </td>
                        <td class="hidden-xs"><a href='{% url 'Producto:url_actualizar_marca' prod.marca.id %}'
                                                 class="btn btn-primary btn-xs btn-block">{{prod.marca.marca}}</a>
                        </td>
                        <td class="hidden-xs text-center">{{prod.vunidad|yesno:'<i class="fa f fa-thumbs-o-down text-green"></i>,<i class="fa f fa-thumbs-o-up text-red"></i>'|safe}}</td>
                        <td class="hidden-xs">$ {{prod.punitario}}</td>
                        <td class="hidden-xs">$ {{prod.pmayoreo}}</td>
                        <td><a href=""></a>
                            <div class="btn-group pull-right">
                              <button type="button" title="Opciones." class="btn btn-default btn-sm dropdown-toggle"
                                      data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                              </button>

                              <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{% url 'Producto:url_actualizar' prod.id %}">
                                        <span class="glyphicon glyphicon-floppy-open"></span> Editar
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'Producto:url_eliminar' prod.id %}">
                                        <span class="glyphicon glyphicon-floppy-remove"></span> Eliminar
                                    </a>
                                </li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<!-- /.box-body -->
    <div class="box-footer">
        <div class="box-tools text-center">
            <ul class="pagination pagination-sm no-margin">
                <li>
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% else %}
                    <a href="#">Anterior</a>
                    {% endif %}
                </li>
                {% for page_number in paginator.page_range %}
                    {% if page_number == page_obj.number %}
                        <li>
                            <a href="#" class="bg-gray">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    {% else %}
                    <a href="#">Siguiente</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
<!-- /.box-footer-->
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var $codigo = $('#buscar_prod')
        $(document).ready($codigo.focus());
    </script>
{% endblock %}
