{% extends "base_v3.html" %}

{% block title %}Nuevo producto{% endblock %}

{% block encabezado %} Agregar nuevo producto {% endblock %}

{% block style %}
    {% load staticfiles %}
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'V3/plugins/iCheck/all.css' %}">
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'Producto:url_lista' 1 %}"><i class="fa fa-barcode"></i> Productos</a></li>
    <li class="active"> Nuevo producto</li>
{% endblock %}

{% block conte %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-tag"></i> Agregar marca</h4>
                </div>
                <div class="modal-body">

                    <div id="mensaje">
                    </div>
                    <p>Por favor, ingrese la nueva marca para agregar.</p>

                    <form id="formMarca">
                        <div class="form-group">
                            <label class="control-label">Marca</label>
                            <input class="form-control" id="id_marca_modal" maxlength="30" name="marca" type="text">

                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary" id="btnmarca">
                            <i class=" glyphicon glyphicon-floppy-saved"></i> Guardar
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal-->

    <div class="box{% block marco %} box-success{% endblock %}">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-barcode"></i> Producto</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <form id="form_d" role="form" method="POST" onsubmit="return(false)">{% csrf_token %}
            <hr>
                {% if form.errors %}
                <div class="checkbox has-success" style="margin-left: -20px;">
                    <label class="btn-block">
                {% else %}
                <div class="checkbox" style="margin-left: -20px;">
                    <label class=" btn-block">
                {% endif %}
                        {{ form.code39 }}
{#                        {% if form.errors %}<i class="fa fa-check-circle text-success"></i>{% endif %}#}
                        <strong>Usar un code39</strong>
                    </label>
                </div>
                <hr>
                <div class="row">
                {% if form.codigo.errors %}
                    <div class="form-group has-error col-lg-6 col-md-6"><i class="fa fa-times-circle  text-danger"></i>
                {% elif form.errors %}
                    <div class="form-group has-success col-lg-6 col-md-6"><i class="fa fa-check-circle text-success"></i>
                {% else %}
                    <div class="form-group col-lg-6 col-md-6">
                {% endif %}
                        <label class="control-label">Codigo</label>
                        {{ form.codigo }}
                    <br>
                        {{ form.codigo.errors }}
                    </div>

                {% if form.marca.errors %}
                    <div class="form-group has-error col-lg-6 col-md-6">
                {% elif form.errors %}
                    <div class="form-group has-success col-lg-6 col-md-6">
                {% else %}
                    <div class="form-group col-lg-6 col-md-6">
                {% endif %}
                        {% if form.marca.errors %}
                        <i class="fa fa-times-circle  text-danger"></i>
                        {% elif form.errors %}
                        <i class="fa fa-check-circle text-success"></i>
                        {% endif %}
                        <label class="control-label">Marca</label>

                        <div class="input-group">
                    <div class="input-group-btn">
                        <button id="marca_agregar" type="button" class="btn btn-success" title="Agregar marca"
                                data-toggle="modal" data-target="#myModal">
                             <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /btn-group -->
                    {{ form.marca }}
              </div>

                        {{ form.marca.errors }}
                    </div>
                </div>

                <div class="row">
                {% if form.descripcion.errors %}
                    <div class="form-group has-error col-lg-12"><i class="fa fa-times-circle  text-danger"></i>
                {% elif form.errors %}
                    <div class="form-group has-success col-lg-12"><i class="fa fa-check-circle text-success"></i>
                {% else %}
                    <div class="form-group col-lg-12">
                {% endif %}
                        <label class="control-label">Descripción</label>
                        {{ form.descripcion }}
                        <br>
                        {{ form.descripcion.errors }}
                    </div>
                </div>

                <div class="row">
                {% if form.punitario.errors %}
                    <div class="form-group has-error col-lg-6 col-md-6"><i class="fa fa-times-circle  text-danger"></i>
                {% elif form.errors %}
                    <div class="form-group has-success col-lg-6 col-md-6"><i class="fa fa-check-circle text-success"></i>
                {% else %}
                    <div class="form-group col-lg-6 col-md-6">
                {% endif %}
                        <label class="control-label">Precio unitario</label>
                        {{ form.punitario }}
                        <br>
                        {{ form.punitario.errors }}
                    </div>

                {% if form.pmayoreo.errors %}
                    <div class="form-group has-error col-lg-6 col-md-6">
                {% elif form.errors %}
                    <div class="form-group has-success col-lg-6 col-md-6">
                {% else %}
                    <div class="form-group col-lg-6 col-md-6">
                {% endif %}

                        {% if form.pmayoreo.errors %}
                        <i class="fa fa-times-circle  text-danger"></i>
                        {% elif form.errors %}
                        <i class="fa fa-check-circle text-success"></i>
                        {% endif %}
                        <label class="control-label">Precio mayoreo</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button id="c_descuento" name="c_descuento" type="button" class="btn btn-success" title="Calcula descuento de 10%">
                                    <strong>%</strong>
                                </button>
                            </div>
                            <!-- /btn-group -->
                            {{ form.pmayoreo }}
                        </div>

                        {{ form.pmayoreo.errors }}
                    </div>
                </div>

                <hr>

                <div class="row" style="margin-left: -35px;">
                    <div class="col-lg-6 col-md-6">
                        {% if form.errors %}
                        <div class="checkbox has-success">
                            <label class="btn-block">
                        {% else %}
                        <div class="checkbox">
                            <label class="btn-block">
                        {% endif %}
                                {{ form.vunidad }}
                                <strong>Venta por unidad</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {% if form.errors %}
                        <div class="checkbox has-success">
                            <label class="btn-block">
                        {% else %}
                        <div class="checkbox">
                            <label class="btn-block">
                        {% endif %}
                                {{ form.inventario }}
                                <strong> Usar inventario</strong>
                            </label>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                {% if form.cantidad.errors %}
                    <div class="form-group has-error col-lg-6 col-md-6"><i class="fa fa-times-circle  text-danger"></i>
                {% elif form.errors %}
                    <div class="form-group has-success col-lg-6 col-md-6"><i class="fa fa-check-circle text-success"></i>
                {% else %}
                    <div class="form-group  col-lg-6 col-md-6">
                {% endif %}
                        <label class="control-label">Cantidad</label>
                        {{ form.cantidad }}
                        <br>
                        {{ form.cantidad.errors }}
                    </div>

                {% if form.minimo.errors %}
                    <div class="form-group has-error col-lg-6 col-md-6"><i class="fa fa-times-circle  text-danger"></i>
                {% elif form.errors %}
                    <div class="form-group has-success col-lg-6 col-md-6"><i class="fa fa-check-circle text-success"></i>
                {% else %}
                    <div class="form-group col-lg-6 col-md-6">
                {% endif %}
                        <label class="control-label">Minimo</label>
                        {{ form.minimo }}
                        <br>
                        {{ form.minimo.errors }}
                    </div>
                </div>
            </form>
    </div>
<!-- /.box-body -->
    <div class="box-footer">
        <button id="btn_guardar" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-floppy-saved"></span> Guardar
        </button>
    </div>
<!-- /.box-footer-->
</div>

{% endblock %}

{% block script %}

    <!-- iCheck 1.0.1 -->
<script src="{% static 'V3/plugins/iCheck/icheck.min.js' %}"></script>

    <script>
        var $codigo = $('#id_codigo');
        $marca = $('#id_marca_modal');
        $marcaS = $('#id_marca');
        $btnmarca = $('#btnmarca');
        $mensaje = $('#mensaje');
        $field_unitario = $('#id_punitario');
        $field_mayoreo = $('#id_pmayoreo');

        function Calcula_descuento(){
            var f_unitario = $field_unitario.val();
                r = f_unitario * 0.9;
            $field_mayoreo.val(r);
        }

{#        function HabInventario() {#}
{#            if (document.getElementById("id_inventario").checked == false) {#}
{#                document.getElementById("id_cantidad").disabled = true;#}
{#                document.getElementById("id_minimo").disabled = true;#}
{#            } else {#}
{#                document.getElementById("id_cantidad").disabled = false;#}
{#                document.getElementById("id_minimo").disabled = false;#}
{#            }#}
{#        }#}

        function HabCodigo(e) {
            if (document.getElementById("id_code39").checked == false) {
                document.getElementById("id_codigo").disabled = false;

            } else {
                document.getElementById("id_codigo").disabled = true;
                $codigo.val('');
                $btnmarca.focus();
            }
            if (document.getElementById("id_inventario").checked == false) {
                document.getElementById("id_cantidad").disabled = true;
                document.getElementById("id_minimo").disabled = true;
            } else {
                document.getElementById("id_cantidad").disabled = false;
                document.getElementById("id_minimo").disabled = false;
            }
        }

        window.onload = function () {
            if (document.getElementById("id_inventario").checked == false) {
                document.getElementById("id_cantidad").disabled = true;
                document.getElementById("id_minimo").disabled = true;
            } else {
                document.getElementById("id_cantidad").disabled = false;
                document.getElementById("id_minimo").disabled = false;
            }
            if (document.getElementById("id_code39").checked == false) {
                document.getElementById("id_codigo").disabled = false;
            } else {
                document.getElementById("id_codigo").disabled = true;
                $codigo.val('');
            }
        }

        function Marca_ajax(e) {
            var dato = $marca.val();
            $marca.val('');
            $btnmarca.prop('disabled', true);
            $marca.prop('disabled', true);
            mar = document.getElementById('id_marca');
            $.ajax({
                async: false,
                data: {'marca': dato},
                url: '{% url "Producto:url_marca_ajax" %}',
                type: 'get',
                success: function (data) {


                    if (data.Errores == false) {
                        var html = '<div class="alert alert-success alert-dismissable">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">' +
                                '×</button> <strong>¡Completado!</strong> ' + data.mensaje + '</div>'
                        mar.innerHTML = ''
                        var option = document.createElement('option');
                            option.text = '---------';
                            option.value = '';
                            mar.add(option);
                        $.each(data.Marcas, function (i, item) {
                            var option = document.createElement("option");
                            option.text = item.marca;
                            option.value = item.id;
                            mar.add(option);
                        });
                        $.ajax({
                            async: false,
                            url : '{% url "Producto:url_get_notificaciones" %}',
                            type : 'get',
                            success : function(data){
                                var htmlp = '';
                                if(!jQuery.isEmptyObject(data.notificaciones)){
                                    $.each(data.notificaciones, function(i, item){
                                        htmlp = htmlp + '<li title="'+ item.msj + '"><a href="#"><i class="' + item.icono + '"></i>'+ item.msj +' <span class="pull-right text-muted small">'+ item.time +'</span></a></li>'
                                    });
                                    if(data.song == true){
                                        document.getElementById('audio_n').play();
                                        document.getElementById('rueda_i').classList.add('rueda');
                                        var x = setTimeout(
                                            function(){
                                                document.getElementById('rueda_i').classList.remove('rueda');
                                            }, 1200);
                                    }

                                }
                                $panel.html(htmlp);
                                if( 0 !== parseInt(data.cantidad)){
                                    $panelc.html('Usted tiene ' + data.cantidad + ' notificaciones.');
                                    if(data.visto == true) {
                                        $paneln.html($paneln.html() + '<span class="label label-warning">' + data.cantidad + '</span>');
                                    }
                                }else {
                                    $panelc.html('No hay notificaciones.');
                                }
                            }
                        });

                    } else {
                        var html = '<div class="alert alert-warning alert-dismissable">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">' +
                                '×</button> <strong>¡Cuidado!</strong> ' + data.mensaje.marca + '</div>';
                    }

                    $mensaje.html(html);
                    $mensaje.fadeIn().delay(10000).fadeOut();
                    tiempo = setTimeout(function () {
                        $btnmarca.prop('disabled', false);
                        $marca.prop('disabled', false);
                        $marca.focus();
                    }, 5000);
                }
            });
            //$codigo.val('').focus();
            return false;
        }

        function enviar(e){
            $('#form_d').removeAttr('onsubmit');
            $('#form_d').submit();
        }
        $('#btn_guardar').on('click', enviar);

        $('#formMarca').on('submit', Marca_ajax);
        $('#c_descuento').on('click', Calcula_descuento);

{#        $('#id_inventario').on('click', HabInventario);#}

{#        Chechbox #}
        $(document).ready(function(){
            $codigo.focus();
            $('input').each(function(){
                var self = $(this),
                  label = self.next(),
                  label_text = label.text();

                label.remove();
                self.iCheck({
                  checkboxClass: 'icheckbox_line-green code39',
                  radioClass: 'iradio_line',
                  insert: '<div class="icheck_line-icon"></div>' + label_text
                });
            });
            $('.iCheck-helper').on('click', HabCodigo);
        });

    </script>
{% endblock %}