{% extends "base_v3.html" %}
{#{% extends "base_v2.html" %}#}
{#{% extends "base.html" %}#}

{% block title %}Hacer ventas{% endblock %}

{% block encabezado %} Hacer Venta{% endblock %}

{% block breadcrumb %}
    <li class="active"><i class="fa fa-shopping-cart"></i> Hacer venta</li>
{% endblock %}

{% block conte %}
    {% include 'Venta/VentaTemplate/modal.html' %}
    {% include 'Venta/VentaTemplate/btn-top.html' %}

    <div class="col-lg-7">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-shopping-cart"></i></h3>
                <form id="form_search">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Codigo de barras del producto">
                        </div>
                    </div>
                </form>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-footer thead"></thead>
                        <tbody id="tVentaProd"></tbody>
                        <tfoot class="thead-footer tfooter"></tfoot>
                    </table>
                </div>
            </div>
        <!-- /.box-body -->
        </div>
        {% csrf_token %}
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/jquery.hotkeys.js' %}"></script>
    <script src="{% static 'js/sale/sales.js' %}"></script>
    <script type="text/javascript">
        var url_search_product = '{% url "Venta:url_search_product" %}';
        var url_change_product = '{% url "Venta:url_change_product" %}';
        var url_cart_status = '{% url "Venta:url_cart_status" %}';
        var url_cart_pay = '{% url "Venta:url_cart_pay" %}';
        var url_ticket = '/Tiket/';
        var account = '{{ account }}'.replace(/&quot;/g,"\"");
    </script>
{% endblock %}
