{% extends 'base_v2.html' %}
{#{% extends 'base.html' %}#}

{% block title %} Detalles de la venta {% endblock %}

{% block encabezado %} Detalles de la venta {% endblock %}

{% block conte %}
<div class="panel panel-default offer">
    {% load humanize %}
	<div class="panel-heading">
		<h3>Detalles de la Compra</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<tr>
				<td class="text-right"><strong>Ticket:</strong></td>
				<td><strong>{{object.tiket}}</strong></td>
                <td></td>
				<td class="text-right"><strong>Fecha:</strong></td>
				<td><strong>{{object.creado|date:"d-m-Y"}}</strong></td>
			</tr>
            <tr>
                <td class="text-center"><strong>#</strong></td>
                <td><strong>Producto</strong></td>
                <td class="text-center"><strong>Cantidad</strong></td>
                <td class="text-center"><strong>Precio</strong></td>
                <td class="text-center"><strong>Subtotal</strong></td>
            </tr>
            {% for x in Venta_producto %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td title="{{ x.nombre }}">{{ x.nombre|slice:":45" }}</td>
                <td class="text-center">{{ x.cantidad }}</td>
                <td class="text-center">{{ x.precio|intcomma }}</td>
                <td class="text-center">{{ x.subtotal|intcomma }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td><td></td><td></td>
                <td class="text-right"><Strong>Total:</Strong></td>
                <td class="text-center text-danger"><strong>$ {{object.total|intcomma}}</strong></td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
                <td class="text-right"><Strong>Efectivo:</Strong></td>
                <td class="text-center text-success"><strong>$ {{object.efectivo|intcomma}}</strong></td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
                <td class="text-right"><Strong>Cambio:</Strong></td>
                <td class="text-center text-primary"><strong>$ {{object.cambio|intcomma}}</strong></td>
            </tr>
		</table>



	</div>
	<div class="panel-footer">

	</div>
</div>
{% endblock %}